<adf-toolbar>
  <adf-toolbar-title>
    <adf-breadcrumb
      class="files-breadcrumb"
      root="Personal Files"
      [target]="documentList"
      [folderNode]="documentList.folderNode">
    </adf-breadcrumb>
  </adf-toolbar-title>
  <adf-upload-button
    [rootFolderId]="documentList.currentFolderId || '547f8aba-95f0-4ced-8d61-13bb2d58ce27'"
    [adf-node-permission]="'create'"
    (success)="uploadSuccess($event)">
  </adf-upload-button>

</adf-toolbar>


<adf-document-list
  #documentList
  [currentFolderId]="'547f8aba-95f0-4ced-8d61-13bb2d58ce27'"
  (preview)="showPreview($event)">
</adf-document-list>

aaaaaaa   **{{nodeId | json}}


<adf-viewer
  [showViewer]="showViewer"
  [overlayMode]="true"
  [fileNodeId]="nodeId"
  (goBack)="onGoBack($event)"
  [sidebarPosition]="'left'"
>
</adf-viewer>
<file-uploading-dialog></file-uploading-dialog>
